@font-face {
    font-family: "kufi";
    src: url("/public/fonts/droid-arabic-kufi.ttf");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "kufi-regular";
    src: url("/public/fonts/kufi-regular.ttf");
    font-weight: normal;
    font-style: normal;
}
//ScrollBar
/* width */
::-webkit-scrollbar {
    width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: kufi, sans-serif !important;
    scroll-behavior: smooth;
}
@font-face {
    font-family: "hafs";
    src: url("/public/fonts/hafs.otf");
    font-weight: normal;
    font-style: normal;
}
body {
    font-family: "hafs", sans-serif;
    scroll-behavior: smooth;
}
a {
    text-decoration: none;
    color: #1980b6;
}
.grey-nav {
    background-color: #fafafa;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.languages-menu {
    max-height: 200px;
    overflow: auto;
    a {
        font-size: 15px;
    }
}
.languages-btn {
    border-radius: 7px;
    padding: 8px 15px;
    background-color: #316eec;
    // margin: 0 5px;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow:
        rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
        rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    border-radius: 42px;
    -webkit-border-radius: 42px;
    -moz-border-radius: 42px;
    -ms-border-radius: 42px;
    -o-border-radius: 42px;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    &:hover {
        background-color: #275bc4;
        color: #fff;
        .login-icon {
            opacity: 1;
            visibility: visible;
            margin-left: 7px;
            transition: all 0.5s ease;
            -webkit-transition: all 0.5s ease;
            -moz-transition: all 0.5s ease;
            -ms-transition: all 0.5s ease;
            -o-transition: all 0.5s ease;
        }
    }
}
.main-navbar {
    padding: 50px 0% !important;
    img {
        width: 245px;
    }
    a {
        font-size: 17px;
        color: #1980b6;
    }
    .navbar-toggler {
        svg {
            font-size: 19px;
        }
    }
    .navbar-collapse {
        justify-content: center;
        flex-wrap: wrap;
        // padding-top: 15px;
    }
    .login-buttons {
        display: flex;
        justify-content: center;
        align-items: center;
        .login-btn {
            border-radius: 7px;
            padding: 10px 25px;
            background-color: #316eec;
            margin: 0 5px;
            color: #ffffff;
            display: flex;
            align-items: center;
            justify-content: center;
            box-shadow:
                rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
                rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
            border-radius: 42px;
            -webkit-border-radius: 42px;
            -moz-border-radius: 42px;
            -ms-border-radius: 42px;
            -o-border-radius: 42px;
            transition: all 0.5s ease;
            -webkit-transition: all 0.5s ease;
            -moz-transition: all 0.5s ease;
            -ms-transition: all 0.5s ease;
            -o-transition: all 0.5s ease;
            &:hover {
                background-color: #275bc4;
                color: #fff;
                .login-icon {
                    opacity: 1;
                    visibility: visible;
                    margin-left: 7px;
                    transition: all 0.5s ease;
                    -webkit-transition: all 0.5s ease;
                    -moz-transition: all 0.5s ease;
                    -ms-transition: all 0.5s ease;
                    -o-transition: all 0.5s ease;
                }
            }
        }
        .login-icon {
            opacity: 0;
            visibility: hidden;
            margin-left: -20px;
            transition: all 0.5s ease;
            -webkit-transition: all 0.5s ease;
            -moz-transition: all 0.5s ease;
            -ms-transition: all 0.5s ease;
            -o-transition: all 0.5s ease;
        }
    }
    .nav-item {
        text-align: center;
    }
    @media screen and (min-width: 768px) {
        .nav-item {
            margin: 0 10px;
        }
    }
    @media screen and (min-width: 576px) {
        img {
            width: 268px;
        }
    }
    @media screen and (max-width: 992px) {
        .main-login-btn {
            display: none;
        }
        .navbar-nav {
            padding-top: 26px;
        }
    }
    @media screen and (min-width: 992px) {
        .second-login-btn {
            display: none;
        }
    }
    @media screen and (max-width: 992px) {
        padding: 25px 0% !important;
        .navbar-toggler{
            outline: none;
            border: none;
            &:focus{
                outline: none;
                border: none;
                box-shadow: none;
            }
        }
        img{
            width: 180px;
        }
        a{
            font-size: 16px;
        }
        .login-btn{
            font-size: 14px;
            padding: 0 25px;
        }
        .login-buttons {
            order: 1;
        }
        .login-buttons {
            order: 2;
        }
        .navbar-toggler {
            order: 3;
        }
        .navbar-collapse {
            order: 4;
        }
    }
}
.sura {
    padding: 35px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    margin: 10px 20px;
    font-size: 21px;
    border-radius: 0.75rem;
    -webkit-border-radius: 0.75rem;
    -moz-border-radius: 0.75rem;
    -ms-border-radius: 0.75rem;
    -o-border-radius: 0.75rem;
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    display: block;
    &:hover {
        background-color: #1980b6;
        color: #fff;
        transition: all 0.4s ease;
        -webkit-transition: all 0.4s ease;
        -moz-transition: all 0.4s ease;
        -ms-transition: all 0.4s ease;
        -o-transition: all 0.4s ease;
    }
}
#categoriesList {
    .category {
        height: 60px;
        text-align: center;
        padding: 16px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        font-size: 18px;
        color: #1980b6;
    }
}
#ayaList {
    .aya {
        box-shadow:
            rgba(17, 17, 26, 0.05) 0px 1px 0px,
            rgba(17, 17, 26, 0.1) 0px 0px 8px;
        padding: 20px 30px;
        margin: 15px 0;
        text-align: center;
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
        a {
            text-decoration: none;
            color: #252525;
        }
        .image {
            font-size: 22px;
        }
        .aya-ar-name {
            font-family: "hafs", sans-serif;
            font-size: 21px;
            color: #1980b6;
        }
        .note_btns {
            text-align: left;
            .login-btn {
                border-radius: 20px;
            }
        }
    }
}
#hadithList {
    .hadith {
        box-shadow:
            rgba(17, 17, 26, 0.05) 0px 1px 0px,
            rgba(17, 17, 26, 0.1) 0px 0px 8px;
        padding: 20px 30px;
        margin: 15px 0;
        text-align: center;
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
        a {
            text-decoration: none;
            color: #252525;
        }
        .image {
            font-size: 22px;
        }
        .aya-ar-name {
            font-family: "hafs", sans-serif;
            font-size: 21px;
            color: #1980b6;
        }
        .note_btns {
            text-align: left;
            .login-btn {
                border-radius: 20px;
            }
        }
    }
}
.social-platform {
    padding: 20px;
    color: #fff;
    font-size: 20px;
    margin: 10px 0;
    border-radius: 10px;
    cursor: pointer;
    &.facebook {
        background-color: #3b5998;
    }
    &.whatsapp {
        background-color: #128c7e;
    }
    &.instagram {
        background: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
    }
}
.modal {
    img {
        width: 100%;
        border-radius: 15px;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        -ms-border-radius: 15px;
        -o-border-radius: 15px;
    }
}
.toast {
    position: fixed;
    bottom: -50px;
    left: 50%;
    top: auto;
    transform: translate(-50%, 0%);
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    width: auto;
    -webkit-user-select: none;
    /*Safari*/
    -ms-user-select: none;
    /*IE10andIE11*/
    user-select: none;
    &.active {
        bottom: 50px;
        transition: all 0.4s ease;
        -webkit-transition: all 0.4s ease;
        -moz-transition: all 0.4s ease;
        -ms-transition: all 0.4s ease;
        -o-transition: all 0.4s ease;
    }
}

.checkbox-wrapper-31:hover .check {
    stroke-dashoffset: 0;
}

.checkbox-wrapper-31 {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-left: 5px;
}
.checkbox-wrapper-31 .background {
    fill: #ffffff;
    transition: ease all 0.6s;
    -webkit-transition: ease all 0.6s;
    stroke: #ccc;
    stroke-width: 1px;
}
.checkbox-wrapper-31 .stroke {
    fill: none;
    stroke: #fff;
    stroke-miterlimit: 10;
    stroke-width: 2px;
    stroke-dashoffset: 100;
    stroke-dasharray: 100;
    transition: ease all 0.6s;
    -webkit-transition: ease all 0.6s;
}
.checkbox-wrapper-31 .check {
    fill: none;
    stroke: #ccc;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 2px;
    stroke-dashoffset: 22;
    stroke-dasharray: 22;
    transition: ease all 0.6s;
    -webkit-transition: ease all 0.6s;
}
.checkbox-wrapper-31 input[type="radio"] {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    margin: 0;
    opacity: 0;
    -appearance: none;
    -webkit-appearance: none;
}
.checkbox-wrapper-31 input[type="radio"]:hover {
    cursor: pointer;
}
.checkbox-wrapper-31 input[type="radio"]:checked + svg .background {
    fill: #6cbe45;
}
.checkbox-wrapper-31 input[type="radio"]:checked + svg .check {
    stroke: #ffffff !important;
}
.checkbox-wrapper-31 input[type="radio"]:checked + svg .stroke {
    stroke-dashoffset: 0;
}
.checkbox-wrapper-31 input[type="radio"]:checked + svg .check {
    stroke-dashoffset: 0;
}

#mainPage {
    margin: 80px 0;
    .section {
        text-align: center;
        padding: 0px 18px;
        height: 130px;
        a {
            display: flex;
            height: 100%;
            width: 100%;
            justify-content: center;
            align-items: center;
            border-radius: 10px;
            font-size: 20px;
            box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
            background-color: #fffefe;
            border-radius: 1.5rem;
            padding: 0px 5px;
            transition: all 0.4s ease;
            -webkit-transition: all 0.4s ease;
            -moz-transition: all 0.4s ease;
            -ms-transition: all 0.4s ease;
            -o-transition: all 0.4s ease;
            transform: translate(0px, 0px);
            -webkit-transform: translate(0px, 0px);
            -moz-transform: translate(0px, 0px);
            -ms-transform: translate(0px, 0px);
            -o-transform: translate(0px, 0px);
            &:hover{
                background-color: #1980b6;
                color: #fff;
                transition: all 0.4s ease;
                -webkit-transition: all 0.4s ease;
                -moz-transition: all 0.4s ease;
                -ms-transition: all 0.4s ease;
                -o-transition: all 0.4s ease;
                transform: translate(0px, -8px);
                -webkit-transform: translate(0px, -8px);
                -moz-transform: translate(0px, -8px);
                -ms-transform: translate(0px, -8px);
                -o-transform: translate(0px, -8px);
}

        }
    }
    @media screen and (max-width: 992px) {
        margin: 15px 0;
        .section {
            margin-top: 30px;
            a {
                font-size: 19px;
            }
        }
    }
}

#footer {
    margin-top: 60px;
    padding: 0 10px;
    .content {
        background-color: #eef2f5;
        border-radius: 0px;
        padding: 40px 20px 0;
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        -ms-border-radius: 0px;
        -o-border-radius: 0px;
    }
    .icon-group {
        display: flex;
    }
    .icon-item {
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 22px;
        background-color: #fff;
        transition: all 0.2s ease-in-out;
        height: 2.5rem;
        width: 2.5rem;
        border: 0;
        font-size: 23px;
        margin: 0 10px;
        #whatsapp {
            color: #25d366;
        }
        #telegram {
            color: #229ed9;
        }
        #rss {
            color: #e3702d;
        }
    }
    @media screen and (min-width: 768px) {
        .content {
            border-radius: 129px 129px 0 0;
            -webkit-border-radius: 129px 129px 0 0;
            -moz-border-radius: 129px 129px 0 0;
            -ms-border-radius: 129px 129px 0 0;
            -o-border-radius: 129px 129px 0 0;
        }
    }
}

.hero {
    background-image: linear-gradient(to bottom, rgba(25, 128, 182, 0.2509803922), rgba(25, 128, 182, 0.6117647059)),
        url("../../public/img/hero-section.jpg");
    &.bayan-islam{
        background-image: linear-gradient(to bottom, rgba(25, 128, 182, 0.2509803922), rgba(25, 128, 182, 0.6117647059)),
        url("../../public/img/hero-section-3.jpg");
    }
    background-size: cover;
    background-position: center;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-attachment: fixed;
    position: relative;
    .hero-content {
        padding: 0px 10px;
        text-align: center;
        color: #fff;
        h1 {
            font-size: 40px;
            margin-bottom: 20px;
        }

        p {
            font-size: 18px;
            margin-bottom: 30px;
        }
        .arrow{
            position: absolute;
            bottom: 15px;
            color: #fff;
        }
    }

    @media screen and (max-width:992px) {
        .hero-content {
            h1 {
                font-size: 25px;
            }
            p{
                font-size: 16px;
            }
        }
    }
}


#scroll-to-top{

    position: fixed;
    right: 40px;
    bottom: 70px;
    background: #FFF;
    padding: 11px;
    border-radius: 50px;
    height: 45px;
    width: 45px;
    z-index: 50;
    font-size: 18px;
    color: #1980b6;
    border: 2px solid ;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transform: translateY(20px);
    transition: all 400ms linear;
    &.active{
        opacity: 1;
            visibility: visible;
            transform: translateY(0);
    }
}
